.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
input , textarea , select{
  border-radius: 4px;
  border: 1px solid grey;
}
.header{
  display: flex;
  align-items: center;

}
label{
  color: gray;  
}
.accordion-header {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.btn-danger {
  color: #fff;
  background-color: #ff3216;
  border-color: #ff3216;
}
.container {
  @media only screen and (min-width: 1024px) {
    max-width: 50%; 
  }
}